html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --header-blue: #b7d7e8;
    --nav-gray: rgb(241, 241, 241);
    --nav-row-highlighted: #d7ebf7;
    --button-active: rgb(219, 219, 219);
}

body {
    font-size: 1.6rem;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: 1fr 4fr;
}

input, button, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

ul {
    list-style: none;
}

header {
    grid-column: 1 / 3;
    padding: 4rem;
    text-align: center;
    background-color: var(--header-blue);
    box-shadow: 0 10px 10px -10px rgb(150, 150, 150);
    z-index: 1;
}

h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

nav {
    grid-row: 2 / 3;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-gray);
}

nav > h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
}

.todo-nav {
    margin-bottom: 3rem;
}

.nav-list-button-wrapper {
    /* below extends the div past the parent nav's padding */

    margin: 0 -3rem;
    padding: 0.9rem 3rem;
}

.nav-list-button-wrapper > button {
    font-size: 1.8rem;
    padding: 0px;
    border: none;
    width: max-content;
    margin-left: 1rem;
    background-color: var(--nav-gray);
}

/* .add-todo-button-wrapper {
    margin: 1.2rem 0rem 3rem 0.9rem;
} */

.add-remove-project-buttons-wrapper {
    margin: 1.5rem 0rem 2rem 0.9rem;
    display: grid;
    grid-template-columns: max-content;
    gap: 1.6rem;
}

.nav-add-and-remove-button {
    padding: 8px 14px;
    border-radius: 16px;
    border: none;
    background-color: white;
    box-shadow: 0 0 5px silver;
}

.nav-add-and-remove-button:hover,
.add-todo-page-button:hover {
    box-shadow: 0 0 8px gray;
}

.nav-add-and-remove-button:active,
.add-todo-page-button:active {
    background-color: var(--button-active);
}

.nav-list-button-highlighted {
    box-shadow: 0 10px 10px -10px silver;
    background-color: var(--nav-row-highlighted);
    button {
        background-color: var(--nav-row-highlighted);
        cursor: pointer;
    }
    button:hover {
        text-decoration: underline;
    }
}

.project-button-selected,
.todo-button-selected {
    box-shadow: 0 10px 10px -10px silver;
    background-color: var(--header-blue);
    button {
        background-color: var(--header-blue);
    }

    /* if the row directly below 'selected' is highlighted, 'selected' will retain its
    box-shadow, creating a layered effect over the highlighted row.
    
    'position:relative' is needed because the rows are li's (if they were divs, this would
    not be needed).
    */
    z-index: 1;
    position: relative;
}

.project-button-selected.nav-list-button-highlighted,
.todo-button-selected.nav-list-button-highlighted {
    box-shadow: 0 12px 8px -8px silver;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.top-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    min-height: 3.9rem;
    align-items: center;
    gap: 2rem;
}

.legend {
    padding-left: 2rem;
    width: max-content;
    display: grid;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.legend-line {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.overdue-color-wrapper {
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
}

.priority-color-wrapper {
    width: 1.5rem;
    height: 1.5rem;
    background-color: yellow;
}

main h3 {
    font-weight: 500;
    font-size: 2.6rem;
    justify-self: center;
    text-align: center;
}

.completed-title-wrapper {
    min-height: 3.9rem;
    display: grid;
    place-items: center;
}

.todos-text-div {
    margin: 2rem 0;
    display: grid;
    justify-items: center;
    gap: 2.5rem;
    font-size: 2.2rem;
    text-align: center;
    color: rgb(137, 137, 137);
    line-height: 1.5;
}

.add-todo-page-button {
    padding: 12px 22px;
    font-size: 1.8rem;
    background-color: var(--nav-gray);
    border-radius: 22px;
    border: none;
    box-shadow: 0 0 8px rgb(193, 193, 193);
}

.todo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.todo-div-container {
    width: 215px;
    height: 135px;
    display: grid;
    place-items: center;
}

.todo-div {
    padding: 20px 10px;
    width: 195px;
    height: 115px;
    border-color: lightblue;
    border-style: solid;
    border-top-width: 2px;
    border-right-width: 3px;
    border-left-width: 3px;
    border-bottom-width: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr min-content;
    text-align: center;
    background-color: rgb(243, 252, 255);
}

.todo-div:hover {
    padding: 28px 18px;
    cursor: pointer;
    width: 215px;
    height: 135px;
    p:first-child {
        font-size: 2.1rem;
    }
    p:last-child {
        font-size: 1.6rem;
    }
    box-shadow: 0 0 10px 1px rgb(220, 220, 220);
}

.p1 {
    border-color: rgb(247, 247, 0);
    background-color: rgb(255, 254, 236);
}

.completed {
    border-color: lightgreen;
    background-color: rgb(237, 255, 237);
}

.overdue {
    border-color: rgb(255, 75, 75);
    background-color: rgb(255, 246, 248);
}

.todo-div > p:first-child {
    font-size: 1.9rem;
}

.todo-div > p:last-child {
    font-size: 1.4rem;
}